{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You’ve submitted details about the volunteering placement
        </h1>
       
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You’ve confirmed the volunteering placement has now ended. [Volunteer] will now receive an email asking them to review the information provided and to find out if they are eligible for compensation.</p>
      <p>If the volunteer disagrees with the information provided, we encourage them to contact you directly to discuss the problem.</p>

      <p><a href="#">Back to volunteering placements</a></p>

    </div>
  </div>

{% endblock %}
