{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="location">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Volunteer placement details</h1>
      <form action="confirmation" method="post" novalidate>

      <div class="govuk-inset-text">
        You need to review this volunteers request to volunteer for you
        <input type="hidden" name="answers-checked" value="true">
<p></p>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Review information
        </button>
      </div>

       

      </form>

<h2 class="govuk-heading-m">Volunteer details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
           Dave Marshall
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
           36 Crighton
           <br>Birtley
           <br>Washington
           <br>Tyne and Wear
           <br>NE6 5AJ
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
           scttsmth93@gmail.com
           <br>07792856509
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        </dl>

        <h2 class="govuk-heading-m">Provider details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name on organisation
          </dt>
          <dd class="govuk-summary-list__value">
            The Willows
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">national insurance number</span>
            </a>
          </dd>
        </div>
   
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Named contact
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Carer
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              <span class="govuk-visually-hidden">national insurance number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
           sarahcarer@carehome.co.uk
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement length
          </dt>
          <dd class="govuk-summary-list__value">
           4 weeks
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planned start date
          </dt>
          <dd class="govuk-summary-list__value">
           14 May 2020
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>

      

      <h2 class="govuk-heading-m">The authorising authority status:
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Authorising authority status
          </dt>
          <dd class="govuk-summary-list__value">
           Pening
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
       
      
        </dl>

     

    </div>
  </div>
{% endblock %}
