{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="search">Back to search</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   
<h1 class="govuk-heading-xl">Volunteer full name</h1>

    </div>
    </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <hr>
    <h2 class="govuk-heading-m">Placements</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Action</th>
          <th scope="col" class="govuk-table__header app-custom-class">Start date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="volunteer">View</a></td>
          <td class="govuk-table__cell">24 May 2020</td>
        </tr>
      </tbody>
    </table>
 <h2 class="govuk-heading-m">Volunteer details</h2>

 <p class="govuk-body-s"><strong>First name</strong>
    <br>Scott</p>
    <p class="govuk-body-s"><strong>Last name</strong>
      <br>Smith</p>
      <p class="govuk-body-s"><strong>NINO</strong>
        <br>JX012402W</p>
        <p class="govuk-body-s"><strong>Phone</strong>
          <br>07792856788</p>
          <p class="govuk-body-s"><strong>Email</strong>
            <br>scott@email.com</p>
            <p class="govuk-body-s"><strong>Address</strong>
              <br>36 Crighton
            <br>Oxclose
          <br>Washington
        <br>Tyne and Wear
      <br>NE38 0LB</p>
      <hr>
    
    </div>
    <div class="govuk-grid-column-one-half">

      <hr>
      <h2 class="govuk-heading-m">Placement details for Scott Smith</h2>
      <p class="govuk-body-s"><strong>Placement organisation</strong>
        <br>Birtley Care Home</p>
          <p class="govuk-body-s"><strong>Placement length</strong>
            <br>3 weeks</p>
            <p class="govuk-body-s"><strong>Start date</strong>
              <br>24 May 2020</p>
           

              <p class="govuk-body-s"><strong>Placement status</strong>
                <br>Approved</p>
                <p class="govuk-body-s"><strong>Approval date</strong>
                  <br>29 April 2020 11:47am </p>

                  <hr>
                  <h2 class="govuk-heading-m">Authorisation details</h2>
                  <p class="govuk-body-s"><strong>Authorising organisation</strong>
                    <br>Northumberland CCG</p>
                    <p class="govuk-body-s"><strong>Contact name</strong>
                      <br>Matt Graham</p>
                      <p class="govuk-body-s"><strong>Email</strong>
                        <br>northumberland@email.com</p>
                        <p class="govuk-body-s"><strong>Authorisation status</strong>
                          <br>Approved</p>
                          <p class="govuk-body-s"><strong>Authorisation date</strong>
                            <br>29 April 2020 3:43pm</p>
              <hr>
              <h2 class="govuk-heading-m">Notes</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class">Date</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Agent</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Comments</th>
      
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">25 April 2020<br>9:40am</td>
                    <td class="govuk-table__cell">Dean Cobb</td>
                    <td class="govuk-table__cell">Can comments be trunc...</td>
                  </tr>
                
                </tbody>
              </table>


            </div>
          </div>
                    



    </div>




<!--    <form class="form" action="days-worked">


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form> -->





{% endblock %}
