{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="location">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tell us about the volunteer placement.</h1>

   

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is the name of the organisation you are applying to volunteer for?"
          },
          classes: "govuk-input--width-20",
          id: "organisation-name",
          name: "organisation-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Who is the named contact for this role?"
          },
          classes: "govuk-input--width-20",
          id: "organisation-contact-name",
          name: "organisation-contact-name"
        }) }}

        {{ govukInput({
          label: {
            text: "What is their email address?"
          },
          classes: "govuk-input--width-20",
          id: "organisation-email",
          name: "organisation-email"
        }) }}


        {{ govukInput({
          label: {
            text: "What is the postal address of the organisation?"
          },
          classes: "govuk-input--width-20",
          id: "organisation-postal-address",
          name: "organisation-postal-address"
        }) }}


        {{ govukInput({
          label: {
            text: "What is their telephone number?"
          },
          classes: "govuk-input--width-20",
          id: "organisation-telephone",
          name: "organisation-telephone"
        }) }}


      <form class="form" action="placement-information" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
