{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
     
      <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
             Thank you
            </h1>
          </legend>
         
  

        <input type="hidden" name="answers-checked" value="true">

        

      </form>

    </div>
  </div>

  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>

{% endblock %}
