{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="summary_two-added" method="post">

        <h1 class="govuk-heading-xl">Add your bank or building society account details</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="name-on-the-account">
            Name on the account
          </label>
          <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort-code">
            Sort code
          </label>
          <span id="sort-code-hint" class="govuk-hint">
            Must be 6 digits long
          </span>
          <input class="govuk-input govuk-input--width-5" id="sort-code" name="sort-code" type="text" aria-describedby="sort-code-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="account-number">
            Account number
          </label>
          <span id="account-number-hint" class="govuk-hint">
            Must be between 6 and 8 digits long
          </span>
          <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="roll-number">
            Building society roll number (if you have one)
          </label>
          <span id="roll-number-hint" class="govuk-hint">
            You can find it on your card, statement or passbook
          </span>
          <input class="govuk-input govuk-input--width-10" id="roll-number" name="roll-number" type="text" aria-describedby="roll-number-hint" spellcheck="false">
        </div>
        
      



        <button class="govuk-button" data-module="govuk-button">Continue</button> 

      </form>

    </div>
  </div>

{% endblock %}
