{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="summary_one-added" method="post">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What days of the week were worked?
            </h1>
          </legend>
          <br>
          <span id="citizenship-conditional-hint" class="govuk-hint">
            Select all options that are relevant to you.
          </span>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="monday" name="citizen" type="checkbox" value="email" data-aria-controls="monday-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="monday">
                Monday
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="monday-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="monday">
                  How many hours did you work?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="tuesday" name="citizen" type="checkbox" value="email" data-aria-controls="tuesday-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="tuesday">
                Tuesday
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="tuesday-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="tuesday">
                  How many hours did you work?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="wednesday" name="citizen" type="checkbox" value="email" data-aria-controls="wednesday-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="wednesday">
                Wednesday
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="wednesday-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="wednesday">
                  How many hours did you work?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="thursday" name="citizen" type="checkbox" value="email" data-aria-controls="thursday-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="thursday">
                Thursday
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="thursday-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="thursday">
                  How many hours did you work?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="friday" name="citizen" type="checkbox" value="email" data-aria-controls="friday-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="friday">
                Friday
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="friday-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="friday">
                  How many hours did you work?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="saturday" name="citizen" type="checkbox" value="email" data-aria-controls="saturday-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="saturday">
                Saturday
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="saturday-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="saturday">
                  How many hours did you work?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sunday" name="citizen" type="checkbox" value="email" data-aria-controls="sunday-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="sunday">
                Sunday
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="sunday-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="sunday">
                  How many hours did you work?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
            </div>
           
          
          </div>
        </fieldset>
      </div>

      


    <button class="govuk-button" data-module="govuk-button">Continue</button> 

      </form>

    </div>
  </div>

{% endblock %}
