{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Add time for week one of placement</h1>

      

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Select all days worked more than 3 hours
            </h2>
          </legend>
          <span id="citizenship-conditional-hint" class="govuk-hint">
            Select all options that are relevant to you.
          </span>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                Monday
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                Tuesday
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                Wednesday
              </label>
            </div>
          </div>
        </fieldset>
      </div>


     <!--  <button class="govuk-button" data-module="govuk-button">Continue</button> --> 

      </form>

    </div>
  </div>

{% endblock %}
