{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        
        Apply for a certificate to take part in the Emergency Volunteering Scheme
      </h1>


      <p>Use this service to apply for an emergency leave certificate. This certificate will mean the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you’re working at the moment, you can confirm to your employer that you will be taking  time off to take part in the scheme</li>
        <li>lets you claim compensation once you’ve finished volunteering whether you’re working or not</li>
      </ul>

      <p>Before you apply, read the <a href="https://www.gov.uk/guidance/guidance-on-the-emergency-volunteering-scheme">guidance on applying to the Emergency Volunteering Scheme</a>.</p>

      <h2 class="govuk-heading-m">Who can apply</h2>

      <p>To apply, you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a specific placement agreed with a care provider, lasting 2 to 4 weeks</li>
        <li>have worked in health or social care in the past, or have relevant experience</li>
      </ul>

      <h2 class="govuk-heading-m">What you'll need</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>your National Insurance number</li>
        <li>the name, address and phone number of the care provider you’ll be volunteering with</li>
      </ul>



      <a href=your-details role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>It takes around 5 minutes to apply.</p>

      <p>You’re not guaranteed a certificate - the local authority or health authority and care provider will need to approve your application.</p>

      <p>If you’re working at the moment you must give your current employer at least 3 working days notice from when you receive your certificate.</p>

  </div>

    <div class="govuk-grid-column-one-third">

 <!--   <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Guidance for Emergency Volunteer Leave
              </a>
            </li>
            <li>
              <a href="/government/publications/coronavirus-bill-summary-of-impacts">
                Coronavirus bill: summary of impacts
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->  

    </div>
  </div>
{% endblock %}
