{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="your-selfemployed-status">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post">

      

    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Are you receiving income from other sources?
      </h1>
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      Confirm if you are receiving or have received income from the following:
    </span>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="employed" name="employed" type="radio" value="location" onclick="setLocation(this);">
        <label class="govuk-label govuk-radios__label" for="employed">
          Universal Credit
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="self-employed" name="self-employed" type="radio" value="location" onclick="setLocation(this);">
        <label class="govuk-label govuk-radios__label" for="self-employed">
          The 80% government
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="unemployed" name="unemployed" type="radio" value="location" onclick="setLocation(this);">
        <label class="govuk-label govuk-radios__label" for="unemployed">
          Neither
        </label>
      </div>
      
    </div>
  </fieldset>
</div>

        <button class="govuk-button" type=submit >Continue</button>

      </form>

    </div>
  </div>

  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>

{% endblock %}
