{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="your-details">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post">

      

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is your current employment status?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="employed" name="employed-q" type="radio" value="is-your-employer-paying-you" onclick="setLocation(this);">
        <label class="govuk-label govuk-radios__label" for="employed">
          Working
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="self-employed" name="employed-q" type="radio" value="is-your-employer-paying-you" onclick="setLocation(this);">
        <label class="govuk-label govuk-radios__label" for="self-employed">
          Working and on furlough
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="self-employed" name="employed-q" type="radio" value="location" onclick="setLocation(this);">
        <label class="govuk-label govuk-radios__label" for="self-employed">
          Self-employed and working
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="self-employed" name="employed-q" type="radio" value="are-you-receiving-income-from-other-sources" onclick="setLocation(this);">
        <label class="govuk-label govuk-radios__label" for="self-employed">
          Self-employed, not working
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="are-you-receiving-income-from-other-sources" onclick="setLocation(this);" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          Not working
        </label>
        <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          Unemployed, retired or student
        </span>
      </div>
    
      
    </div>
  </fieldset>
</div>

        <button class="govuk-button" type=submit >Continue</button>

      </form>

    </div>
  </div>

  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>

{% endblock %}
