{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      


      <p><strong>Email title: Emergency Volunteering Scheme complete</strong></p>

      <p>"Dear [Named contact from here],</p>
      
      <p>Our records show that [volunteer name]'s volunteer placement with you has now ended.</p>
      
      <p>You need to provide us with information about how much time you volunteered during your placement.</p>
     
      <p>The volunteer may be entitled to income loss or expense compensation and can not claim until you have submitted this information.</p>

      <p>Please follow the link to provide your information:</p>
      
      <p><a href="#">www.gov.uk/URL/displayed/here</a></p>
      
      
          <br><p>Emergency Volunteering Scheme</p>
      
      

    </div>
  </div>
{% endblock %}
