{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      


      <p><strong>Email title: Review an Emergency Volunteer’s request to support your organisation      </strong></p>

      
      <p>Dave Marshall provided your details to approve their application for the Emergency Volunteering Scheme. </p>
      
      <p>Before approving the volunteer’s application, we expect that you’ve already agreed there is a suitable role for Dave Marshall within your organisation.</p>
      
      <p>You now need to create an account to manage applications for volunteer placements and to confirm the placement was completed.</p>
      
      <p>If this is your first time using this service, you will be asked to create a password.</p>
     
      <p><a href="#">www.gov.uk/URL/displayed/here</a></p>
      
      <p>If you approve the application, you will need to tell us who the relevant local authority or health authority is who can verify your organisation.  <p></p>
      
        <p>Emergency Volunteering Scheme</p>
      
      

    </div>
  </div>
{% endblock %}
