{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      


      <p><strong>Email title: Review a new Emergency Volunteering Scheme request</strong></p>

      <p>"Dear [Named contact from here],</p>
      
      <p>[Name of volunteer from here] has provided your details to approve their application for the Emergency Volunteering Scheme. </p>
      
      <p>We expect that you have already agreed there is a suitable role for [Name of volunteer from here] within the organisation you work for before approving their application.</p>
      
      <p>Please review the application by clicking the link below:</p>
      
      <p><a href="#">www.gov.uk/URL/displayed/here</a></p>
      
      <p>If you approve the application, you will need to tell us who the relevant local authority or health authority is.
      
          <br><p>Emergency Volunteering Scheme</p>
      
      

    </div>
  </div>
{% endblock %}
