{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      


      <p><strong>Title: Emergency Volunteering Scheme application update<strong></p>

      <p>"Dear [provider-name]</p>
      
      <p>[applicant name] recently applied for Emergency Volunteering Scheme certification.</p>
      
      <p>Based on the information they provided, your Local Authority rejected the application, and it cannot progress at this time.</p>

      <p><strong>What happens next</strong></p>
      
      <p>You can ask [LA-name] why they rejected [applicant name]’s application and find out if they should re-apply."</p>



      
      

    </div>
  </div>
{% endblock %}
