{% extends "layout.html" %}

{% block pageTitle %}
  Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/index">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      


      <p><strong>Email Title: “Emergency Volunteering Leave certificate" <strong></p>

      <p>"To [Named contact from here],</p>
      
      <h1 class="govuk-heading-l">Your certificate for the Emergency Volunteering Scheme</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Volunteer name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reference
          </dt>
          <dd class="govuk-summary-list__value">
           JX012404C 
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date issued
          </dt>
          <dd class="govuk-summary-list__value">
            8 April 2020
          </dd>
        </div>
       
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider
          </dt>
          <dd class="govuk-summary-list__value">
            Birtley Care Home
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local authority
          </dt>
          <dd class="govuk-summary-list__value">
           NHS Sunderland CCG
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement start
          </dt>
          <dd class="govuk-summary-list__value">
            14 April 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Duration
          </dt>
          <dd class="govuk-summary-list__value">
            4 weeks
          </dd>
        </div>
       
      </dl>

            <p><a href=#">Download this certificate (PDF, 24 KB)</a></p>
    
<p>You can now start your placement. You’ll be paid your daily expense allowance at the end of the placement. We will be in contact to ask for your payment details.</p>      
      
<div class="govuk-inset-text">
  <p><strong>Taking time off work</strong></p>
  <p>Send a copy of this certificate confirming your Emergency Volunteering Leave to your employer. </p>
  <p>Your employer must let you have time off work, but you must give a minimum notice of 3 working days.</p>
</div>

<h2 class="govuk-heading-m">Guidance</h2>

<h3 class="govuk-heading-s">Compensation</h3>
<p>For future updates on compensation, check the <a href="https://www.gov.uk/guidance/guidance-on-the-emergency-volunteering-scheme">guidance on applying to the Emergency Volunteering Scheme</a>.</p>


    </div>
  </div>
{% endblock %}
