{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="placement-details">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "placement-duration",
        name: "placement-duration",
        fieldset: {
          legend: {
            text: "How long will the placement last?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "two weeks",
            text: "Two weeks"
          },
          {
            value: "three weeks",
            text: "Three weeks"
          },
          {
            value: "four weeks",
            text: "Four weeks"
          }
        ]
      }) }}

      <form class="form" action="placement-start" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
