{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Details sent</h1>
        <div class="govuk-panel__body">
          These details have now been sent to <strong>[name of local authority selected]</strong> for verification
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Good question</p>
      


    </div>
  </div>

{% endblock %}
