{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="view-info-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who funds you?</h1>

      <form class="form" action="confirmation">

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Enter the name of the organisation who provides your funding
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
  <!--    {{ govukInput({
        label: {
          text: "What is your DBS certificate number?"
        },
        id: "dbs-certificate-number",
        name: "dbs-certificate-number"
      }) }} -->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
