{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="view-info-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who funds you?</h1>

      <form class="form" action="your-dbs-number">

        <div class="govuk-form-group">
          <label class="govuk-label" for="select-fund">
            Sort by
          </label>
          <select class="govuk-select" id="select-fund" name="select-fund">
            <option value="choose-1" selectec>Select one...</option>
            <option value="updated">Organisation 1</option>
            <option value="views">Organisation 2</option>
            <option value="comments">Organisation 3</option>
            <option value="comments">Organisation 4</option>
            <option value="comments">Organisation 5</option>
            <option value="comments">Organisation 6</option>
            <option value="comments">Organisation 7</option>
            <option value="comments">Organisation 8</option>
            <option value="comments">Organisation 9</option>
            <option value="comments">Organisation 10</option>
            <option value="updated">Organisation 11</option>
            <option value="views">Organisation 12</option>
            <option value="comments">Organisation 13</option>
            <option value="comments">Organisation 14</option>
            <option value="comments">Organisation 15</option>
            <option value="comments">Organisation 16</option>
            <option value="comments">Organisation 17</option>
            <option value="comments">Organisation 18</option>
            <option value="comments">Organisation 19</option>
            <option value="comments">Organisation 20</option>
            <option value="updated">Organisation 21</option>
            <option value="views">Organisation 22</option>
            <option value="comments">Organisation 23</option>
            <option value="comments">Organisation 24</option>
            <option value="comments">Organisation 25</option>
            <option value="comments">Organisation 26</option>
            <option value="comments">Organisation 27</option>
            <option value="comments">Organisation 28</option>
            <option value="comments">Organisation 29</option>
            <option value="comments">Organisation 30</option>
           

          </select>
        </div>

  <!--    {{ govukInput({
        label: {
          text: "What is your DBS certificate number?"
        },
        id: "dbs-certificate-number",
        name: "dbs-certificate-number"
      }) }} -->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
