
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Emergency Voluntary Leave
        
      </h1>
      <p class="govuk-lede">
        These prototypes have been assembled very quick and are a communication tool which demonstrates a current understanding of how things work.
      </p>

     <p><a href="start">Start prototype</a></p>

      
    </div>
</div>

{% endblock %}
