
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for Emergency Volunteering Leave
        
      </h1>
      <p class="govuk-lede">
        These prototypes have been assembled very quick and are a communication tool which demonstrates a current understanding of how things work.
      </p>

      <hr>
      <p><strong>Apply for Emergency Volunteering Leave</strong><br>
      <a href="v2/start">Version 2 prototype</a><br>
      Work in progress<br>
      </p>

     <hr>
     <p><a href="v1/start">Version 1 prototype</a><br>
     Version of prototype assembled by NHSX</p>

      
    </div>
</div>

{% endblock %}
