{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/placement-information">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "placement-start",
        namePrefix: "placement-start",
        fieldset: {
          legend: {
            text: "When do you plan to start the placement?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "For example, 12 11 2018"
        }
      }) }}

      <form class="form" action="/check-your-answers" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
