{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application rejected</h1>
       
      </div>
      <p><strong>What happens next</strong></p>
      <p>You have now rejected this application. The candidate will receive an email that their application has been rejected.</p>
      <p>If you feel the applicant is a suitable candidate but something in their application was incorrect then please get in touch with them directly and ask them to re-apply.</p>


    </div>
  </div>

{% endblock %}
