{% extends "layout.html" %}

{% block pageTitle %}
  Check volunteer details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="location">Back to where?</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Confirm certificate for the Emergency Volunteering Scheme</h1>

      <h2 class="govuk-heading-l">Volunteer details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance Number
          </dt>
          <dd class="govuk-summary-list__value">
            JX 03 14 01 B
          </dd>
         
        </div>
     <!--  <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            DBS Certificate number
          </dt>
          <dd class="govuk-summary-list__value">
            189276890009
          </dd>
         
        </div> --> 
       
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            7 Crighton
            <br>Oxclose
            <br>Washington
            <br>Tyne and Wear
            <br>NE31 9PS
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>07700 900457</p>
            <p>sarah.phillips@gmail.com</p>
          </dd>
          
        </div>
      </dl>

      <h2 class="govuk-heading-l">Provider details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of organisation
          </dt>
          <dd class="govuk-summary-list__value">
            Birtley Care Home
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Named contact
          </dt>
          <dd class="govuk-summary-list__value">
            Margaret Stoke
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            m.stoke@bch.net
          </dd>
          
        </div>

   <!--   <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Named contact
          </dt>
          <dd class="govuk-summary-list__value">
            Patricia Sewell
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            p.sewell@bch.co.uk
          </dd>
         
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0191 4311 765
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Address
          </dt>
          <dd class="govuk-summary-list__value">
            Durham Rd
            <br>Birtley
            <br>Chester-le-Street
            <br>DH3 1LU
          </dd>
          
        </div>-->  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement length
          </dt>
          <dd class="govuk-summary-list__value">
            Four weeks
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planned start date
          </dt>
          <dd class="govuk-summary-list__value">
            16 April 2020
          </dd>
          
        </div>
      </dl>
      <h3 class="govuk-heading-m">The health and social care provider has declared that they:</h3>

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked disabled>
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            are authorised by their organisation to make these statements
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked disabled>
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            have the correct insurance and indemnity arrangements in place to cover the volunteer during the placement
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked disabled>
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            have checked and are satisfied that the volunteer has the suitable skills and/or experience for the role
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines" checked disabled>
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            have, or will, check that the volunteer is eligible to work (checked DBS)
          </label>
        </div>
  <!--    <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines" checked disabled>
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            confirm that this is a real placement that they need to fill          
          </label>
        </div> --> 
       
      </div>

      <br>
      <br>
      <hr>
      <br>
      <br>

  

      <h3 class="govuk-heading-m">Please confirm the following statements:</h3>

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            I confirm that I am authorised by the health or local authority to make these statements
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            that the health and social care service provider has liability and indemnity insurance
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            that I have approved this application and the volunteer can begin the placement
          </label>
        </div>
       
       
      </div>

      <form action="your-details" method="post" novalidate>
<br>
<br>
<br>
        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept information
        </button>

        <p><a href="are-you-sure">Reject information</a></p>

      <!-- <p><a href="rejected">Reject</a></p> --> 
      </form>

    </div>
  </div>
{% endblock %}
